<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/labs.set4/src/labs/set4/samplePrograms/ShapeTester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="labs.set4.samplePrograms.ShapeTester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="labs.set4"/>
</launchConfiguration>
